<!DOCTYPE html>
<html lang="en">
<style>
.my {
 background-color: yellow;
}

input[type=text], select {
    width:80%;
    padding: 10px 20px;
    margin-top: 80px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:snow;
}
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top:-70px;
    margin-left:40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

</style>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>PLAGRAM.!!</title>
      <meta name="viewport" width="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="{% static 'signup/index.css' %}" media="all"/>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="{% static 'signup/style.css' %}" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'signup/jquery-1.11.0.min.js' %}"></script>

    <script type = "text/javascript">
          function displayNextImage() {
              x = (x === images.length - 1) ? 0 : x + 1;
              document.getElementById("img").src = images[x];
          }

          function displayPreviousImage() {
              x = (x <= 0) ? images.length - 1 : x - 1;
              document.getElementById("img").src = images[x];
          }

          function startTimer() {
              setInterval(displayNextImage, 3000);
          }

          var images = [], x = -1;
          images[0] = "{% static 'signup/images/Picture1.png' %}";
          images[1] = "{% static 'signup/images/Picture2.png' %}";
          images[2] = "{% static 'signup/images/Picture3.png' %}";
      </script>


    <script>
        $(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
    </script>

</head>


<body  onload = "startTimer()">
    <div id="main">
            <div class="opaque">
                    <div id="main-menu">
                         <a href="#main"><img id="logo" src="{% static 'signup/images/logo.png' %}" alt="Connection Too Slow" title="PLAGRAM"></a>

                         <ul style="float:right">
                            <li id="l1"><a  href="#section">PLAGIARISM</a></li>
                            <li id="l2"><a href="#about">ABOUT</a></li>
                            <li id="l3"><a href="#footer">CONTACT</a></li>
                            <li id="login"><a  id="log" onclick="popup()" style="display:block;">LOGIN | SIGNUP</a></li>
                         </ul>

                    </div>

                 <q>"ORIGINALITY IS UNDETECTED PLAGIARISM"</q>
                <p class="quote">Click Below Button To Check For The Originality</p>
                <p> Of Your Document</p>
                <div class="butt_wrapper">
                <button class='button'  onclick="popup()">Click Here</button>
                </div>
            </div>
    </div>

     <div  class="section" id="section" onmouseover="change_l1()" onmousewheel="change_l1()">
                  <div class="skew1">
                      <div class="sub_section">
                          <p id="msg"></p>
                      </div>

                      <div class="sub_section">
                               <img id="img" src="{% static 'signup/images/Picture1.png' %}"/>
                      </div>
                 </div>
     </div>


     <div class="about" id="about"  onmouseover="change_l2()" onmousewheel="change_l2()">
               <div class="skew2" >

                   <div class="profile">
                           <img src="{% static 'signup/images/ayu.jpg' %}" class="dev_img">
                           <h2 style="color: white;">Ayushi Khandelwal</h2>
                   </div>
                   <div class="profile">
                           <img src="{% static 'signup/images/shu.jpg' %}" class="dev_img">
                           <h2 style="color: white;">Shubham Chawla</h2>
                   </div>
                   <div class="profile">
                           <img src="{% static 'signup/images/ujj.jpg' %}" class="dev_img" >
                           <h2 style="color: white;">Ujjwal Goyal</h2>
                   </div>
                   <div class="profile">
                          <img src="{% static 'signup/images/ritz.jpg' %}" class="dev_img">
                          <h2 style="color: white;">Rhythm Narang</h2>
                   </div>

               </div>


     </div>


     <div class="contact" id="contact" onmouseover="change_l3()" onmousewheel="change_l3()">
               <div class="skew3">
               </div>
           </div>

          <div class="footer" id="footer">
               <p id="foot_element">@2016 PLAGRAM</p>
               <i id="fblogo" class="fa fa-facebook-f"></i>
               <i id="twitterlogo" class="fa fa-twitter"></i>
               <i id="gitlogo" class="fa fa-github"></i>
               <i id="linklogo" class="fa fa-linkedin"></i>
               <!-- <span>Like us</span>   -->
   </div>

<div id="overlay">
    <div id="overlayWindow">
        <div id="overlayhead">
          <h4> Sign Up</h4>
        </div>

				{% if error_message %}
    <p><strong>error_message</strong></p>
{% endif %}

    {% if form.is_multipart %}
    <form enctype="multipart/form-data" action="{% url 'signup:index'%}" method="post">
{% else %}
    <form method="post"  action="{% url 'signup:index'%}">
{% endif %}
    {% csrf_token %}
    {{ formsignup }}
       <input id="supsubmit" class="submit" type="submit" value="Sign Up" name="submit1">
    </form>
        <p id="ask">Already have an account?</p>
        <div class="overlaybutton">
         <h4 style="margin-top:8px;" onclick="displaysignin()">SIGN IN</h4>
        </div>
         <div class="overlaybutton" id="overlayclose">
         <h4 style="margin-top:8px;" onclick="closepopup()">CLOSE</h4>
        </div>
    </div>
</div>

    <div>


      <div id="overlayWindow1">
            <div id="overlayhead1">
                 <h4> Sign in</h4>
            </div>
          {% if error_message %}
    <p><strong>error_message</strong></p>
{% endif %}
				<form action="{% url 'signup:index'%}" method="post">
					{% csrf_token %}
    {{ formlogin }}

            <div class="overlaybutton" id="overlayback">
               <h4 style="margin-top:8px;" onclick="back()">Back</h4>
            </div>
                <input id="signin" type="submit" value="Sign in" name="signin">
</form>
      </div>
</div>

    <script type="text/javascript" src="{% static 'signup/index.js' %}" ></script>

</body>
</html>